<hr>

<div id="wrapper">
    <h2>CHOOSE A STATISTIC</h2>
    <br>
    <div id="row">

        <button class="btn princh_btn font-weight-bold" onclick="window.location.href='/daily'">Overview</button>
    </div>
    <br>
    <div id="row">

        <button class="btn princh_btn font-weight-bold" onclick="window.location.href='/daily'">Printers and locations</button>
    </div>
    <br>
    <div id="row">

        <button class="btn princh_btn font-weight-bold" onclick="window.location.href='/daily'">Other</button>
    </div>
</div>

