<!DOCTYPE html>
<html>
<head>
    <title>Princh - Printjobs monitor</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./images/Princh_logo_png.png" type="image/x-icon" />
    <script src="/javascripts/client.js"></script>
    <script src="/javascripts/chart.bundle.js"></script>
    <script src="./javascripts/chart.utils.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">


    <script>

        var color = Chart.helpers.color;
        // Declaration of the 3 charts
        var weeklyChart;
        var dailyChart;
        var hourlyChart;
        var hourlyInterval;
        var dailyInterval;
        var weeklyInterval;
        var time = 2500;

        var day = 0;
        var weekdays = sortWeekdays();

        /*
        * ChartDataWeekly sets the design of the charts used on the weekly tab, average line and the bars.
        * It creates 7 labels representing the 7 days of the week.
         */
        var chartDataWeekly = {
            labels: [weekdays[day], weekdays[day + 1], weekdays[day + 2], weekdays[day + 3], weekdays[day + 4], weekdays[day + 5], weekdays[day + 6]],
            datasets: [{
                type: 'line',
                label: 'Average',
                backgroundColor: window.chartColors.red,
                borderColor: color(window.chartColors.red).alpha(0.3).rgbString(),
                borderWidth: 2,
                fill: false,
                data: []
            },
                {
                    type: 'bar',
                    label: 'Printjobs',
                    backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                    data: [],
                    borderColor: window.chartColors.blue,
                    borderWidth: 1
                }]
        };

        /*
        * chartDataWeekly sets the design of the charts used on the daily tab, average line and the bars.
        * It creates an array with times used as labels.
        */
        var kTimes = ["6.00 - 8.00", "8.00 - 10.00", "10.00 - 12.00", "12.00- 14.00", "14.00 - 16.00", "16.00 - 18.00", "18.00 - 20.00", "20.00 - 22.00", "22.00 - 24.00"];
        var chartDataDaily = {
            labels: kTimes,
            datasets: [{
                type: 'line',
                label: 'Average',
                borderColor: color(window.chartColors.red).alpha(0.3).rgbString(),
                backgroundColor: window.chartColors.red,
                borderWidth: 2,
                fill: false,
                data: []
            },
                {
                    type: 'bar',
                    label: 'Printjobs',
                    backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                    data: [

                    ],
                    borderColor: window.chartColors.blue,
                    borderWidth: 1
                }]
        };
        /*
         * chartDataHourly sets the design of the charts used on the hourly tab, average line and the bars.
         * It creates an array with times used as labels.
         */
        var hourlyTimes = ["6:00", "7:00", "8:00", "9:00", "10:00", "11:00", "12:00", "13:00", "14.00", "15.00", "16.00", "17.00", "18.00"];
        var chartDataHourly = {
            labels: hourlyTimes,
            datasets: [{
                type: 'line',
                label: 'Average',
                borderColor: color(window.chartColors.red).alpha(0.3).rgbString(),
                backgroundColor: window.chartColors.red,
                borderWidth: 2,
                fill: false,
                data: []
            },
                {
                    type: 'bar',
                    label: 'Printjobs',
                    backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                    data: [],
                    borderColor: window.chartColors.blue,
                    borderWidth: 1
                }]
        };



        /*
        This function generates our 3 canvas on which the charts are drawn on. Sets their positions and what number the axis most display
        * and adds styling to the text.
        * This function first makes sure we start on the hourly tab. it then creates 2 empty arrays for each tab, and pushes the data it gets from the server into them.
        * It has 3 variables for each tab, a i, j and y. The i values makes sure the colors used to show how for in the loop we are changes correctly.
        * The j values is used to see if the loop needs to change table from positive to negative.
        * The y value is used to see if we have gone through both positive and negative table and changes the tab.
        * It then starts a loop through our page. Where the first interval goes through hourly tab. It goes through the table of printers and matches the printer with its chart.
        * When it has gone through all the positive printers it checks if the lenght of the positive table array is the same as its count value. If they are equal
        * it then changes the table to show negative printers, and then loops through them. After that it changes tab to daily
        * and starts a new loop doing the same as before. After that it goes to weekly and follows the same process.
        * When its gone through the positive and negative table in weekly it checks the stoploop variable to see if it needs to stop the loop and restart the process.
        * it reloads the page to get new data that might have come while it was in the loops.
        */
        $(function () {
            var ctx = document.getElementById("canvas").getContext("2d");
            var ctxx = document.getElementById("canvas2").getContext("2d");
            var ctxxx = document.getElementById("canvas3").getContext("2d");
            weeklyChart = window.myBar = new Chart(ctx, {
                type: 'bar',
                data: chartDataWeekly,

                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: {
                        position: 'top'
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: ""
                    },
                    tooltips: {
                        enabled: false
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart, ctx = chartInstance.ctx;
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = '#333';

                            var chart = this.data.datasets;


                            var meta1 = chartInstance.controller.getDatasetMeta(0);
                            var meta2 = chartInstance.controller.getDatasetMeta(1);

                            meta2.data.forEach(function (bar, index) {
                                var data = chart[1].data[index];
                                ctx.fillText(data, bar._model.x, bar._model.y);

                            });

                            meta1.data.forEach(function (bar, index) {
                                var data = chart[0].data[index];


                            });


                        }
                    }

                }


            });


            dailyChart = window.myBar = new Chart(ctxx, {
                type: 'bar',
                data: chartDataDaily,

                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: 'top'

                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                stepSize: 5

                            }
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip: false
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: ""
                    },
                    tooltips: {
                        enabled: false
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart, ctx = chartInstance.ctx;

                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = '#333';

                            var chart = this.data.datasets;




                            var meta1 = chartInstance.controller.getDatasetMeta(0);
                            var meta2 = chartInstance.controller.getDatasetMeta(1);


                            meta2.data.forEach(function (bar, index) {
                                var data = chart[1].data[index];
                                ctx.fillText(data, bar._model.x, bar._model.y);

                            });




                        }
                    }

                }
            });


            hourlyChart = window.myBar = new Chart(ctxxx, {
                type: 'bar',
                data: chartDataHourly,

                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: 'top'

                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                stepSize: 5

                            }
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip: false
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: ""
                    },
                    tooltips: {
                        enabled: false
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart, ctx = chartInstance.ctx;

                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            ctx.fillStyle = '#333';

                            var chart = this.data.datasets;



                            var meta1 = chartInstance.controller.getDatasetMeta(0);
                            var meta2 = chartInstance.controller.getDatasetMeta(1);


                            meta2.data.forEach(function (bar, index) {
                                var data = chart[1].data[index];
                                ctx.fillText(data, bar._model.x, bar._model.y);

                            });
                        }
                    }

                }
            });


            function activateTab(tab){
                $('.nav-tabs a[href="#' + tab + '"]').tab('show');
            }

            var yDaily = 1;
            var iDaily = 1;
            var jDaily = 1;

            var yWeekly = 1;
            var iWeekly = 1;
            var jWeekly = 1;
            var stopLoop = 0;

            var yHourly = 1;
            var iHourly = 1;
            var jHourly = 1;


            var daily = [];
            var dailyAvg = [];
            var weekly = [];
            var weeklyAvg = [];
            var hourly = [];
            var hourlyAvg = [];

            {{#each Daily}}
                daily.push({data: [{{data}}]});
            {{/each}}

            {{#each DailyAvg}}
                dailyAvg.push({data: [{{data}}]});
            {{/each}}

            {{#each Weekly}}
                weekly.push({data: [{{data}}]});
            {{/each}}

            {{#each WeeklyAvg}}
                weeklyAvg.push({data: [{{data}}]});
            {{/each}}

            {{#each Hourly}}
                hourly.push({data: [{{data}}]});
            {{/each}}

            {{#each HourlyAvg}}
                hourlyAvg.push({data: [{{data}}]});
            {{/each}}




            var countDaily = 0;
            var countWeekly = 0;
            var countHourly = 0;

            if(({{PrintersDailyPositive.length}}) > 0){
                var dailyLength = {{PrintersDailyPositive.length}};
            } else {
                var dailyLength = {{PrintersDailyNegative.length}};
            }

            if(({{PrintersWeeklyPositive.length}}) > 0) {
                var weeklyLength = {{PrintersWeeklyPositive.length}};
            } else {
                var weeklyLength = {{PrintersWeeklyNegative.length}};
            }

            if(({{PrintersHourlyPositive.length}}) > 0)
            {
                var hourlyLength = {{PrintersHourlyPositive.length}};
            } else {
                var hourlyLength = {{PrintersHourlyNegative.length}};
            }
            var clickable = true;

            // START

            if(({{PrintersHourlyPositive.length}}) > 0){
                $('#hourly_thead').css('background-color', '#11cc1e');
            } else {
                $('#hourly_thead').css('background-color', '#e21f0f');
            }

            if(({{PrintersDailyPositive.length}}) > 0){
                $('#daily_thead').css('background-color', '#11cc1e');
            } else {
                $('#daily_thead').css('background-color', '#e21f0f');
            }

            if(({{PrintersWeeklyPositive.length}}) > 0){
                $('#weekly_thead').css('background-color', '#11cc1e');
            } else {
                $('#weekly_thead').css('background-color', '#e21f0f');
            }


            $($("#daily_printers tr")[0]).addClass('trBg');

            $($("#weekly_printers tr")[0]).addClass('trBg');

            $($("#hourly_printers tr")[0]).addClass('trBg');


            dailyChart.data.datasets[0].data = [{{DailyAvg.0.data}}];
            dailyChart.data.datasets[1].data = [{{Daily.0.data}}];
            weeklyChart.data.datasets[1].data = [{{Weekly.0.data}}];
            weeklyChart.data.datasets[0].data = [{{WeeklyAvg.0.data}}];
            hourlyChart.data.datasets[1].data = [{{Hourly.0.data}}];
            hourlyChart.data.datasets[0].data = [{{HourlyAvg.0.data}}];

            weeklyChart.options.title.text = 'Chart for: ' + $($("#weekly_printers tr")[0]).find('td:eq(1)').text();
            dailyChart.options.title.text = 'Chart for: ' + $($("#daily_printers tr")[0]).find('td:eq(1)').text();
            hourlyChart.options.title.text = 'Chart for: ' + $($("#hourly_printers tr")[0]).find('td:eq(1)').text();


            hourlyChart.update();
            weeklyChart.update();
            dailyChart.update();

            intervalHourly();

            function intervalHourly() {

                hourlyInterval = setInterval(function () {

                    clickable = true;

                    $($("#hourly_printers tr")[iHourly - 1]).removeClass('trBg');


                    if(yHourly === hourly.length){


                        activateTab('daily');
                        intervalDaily();
                        clearInterval(hourlyInterval)
                    }


                    if(jHourly === hourlyLength){

                        if(countHourly === 0){

                            if(({{PrintersHourlyNegative.length}}) > 0) {
                                $('#hourly_printers tr').remove();
                                {{#each PrintersHourlyNegative}}
                                    $('#hourly_printers').append(
                                            '<tr><td>{{hostId}}</td><td>{{locationId}}</td><td>{{printerId}}</td><td>{{avg}}</td></tr>');
                                {{/each}}
                                $('#hourly_thead').css('background-color', '#e21f0f');
                                jHourly = 0;
                                countHourly = 1;
                                hourlyLength = {{PrintersHourlyNegative.length}};

                            }

                        } else {


                            if(({{PrintersHourlyPositive.length}}) > 0)
                            {
                                $('#hourly_printers tr').remove();
                                {{#each PrintersHourlyPositive}}
                                    $('#hourly_printers').append(
                                            '<tr><td>{{hostId}}</td><td>{{locationId}}</td><td>{{printerId}}</td><td>{{avg}}</td></tr>');
                                {{/each}}
                                $('#hourly_thead').css('background-color', '#11cc1e');
                                jHourly = 0;
                                countHourly = 0;
                                hourlyLength = {{PrintersHourlyPositive.length}};
                            }

                        }

                        iHourly = 0;

                        if(yHourly === hourly.length){
                            jHourly = 0;
                            yHourly = 0;

                        }



                    }



                    hourlyChart.options.title.text = 'Chart for: ' + $($("#hourly_printers tr")[iHourly]).find('td:eq(1)').text();


                    updateChart(hourlyChart, hourlyAvg, hourly, yHourly);

                    $($("#hourly_printers tr")[iHourly]).addClass('trBg');

                    yHourly++;
                    iHourly++;
                    jHourly++;


                }, time);
            }

            function intervalDaily() {

                dailyInterval = setInterval(function () {
                    clickable = true;
                    $($("#daily_printers tr")[iDaily - 1]).removeClass('trBg');


                    if(jDaily === dailyLength){


                        if(countDaily === 0){



                            if(({{PrintersDailyNegative.length}}) > 0)
                            {
                                $('#daily_printers tr').remove();
                                {{#each PrintersDailyNegative}}
                                    $('#daily_printers').append(
                                            '<tr><td>{{hostId}}</td><td>{{locationId}}</td><td>{{printerId}}</td><td>{{growth}}</td><td>{{avg}}</td></tr>');
                                {{/each}}
                                $('#daily_thead').css('background-color', '#e21f0f');

                                countDaily = 1;
                                jDaily = 0;
                                dailyLength = {{PrintersDailyNegative.length}};
                            }


                        } else {

                            if(({{PrintersDailyPositive.length}}) > 0) {
                                $('#daily_printers tr').remove();
                                {{#each PrintersDailyPositive}}
                                    $('#daily_printers').append(
                                            '<tr><td>{{hostId}}</td><td>{{locationId}}</td><td>{{printerId}}</td><td>{{growth}}</td><td>{{avg}}</td></tr>');
                                {{/each}}
                                $('#daily_thead').css('background-color', '#11cc1e');

                                countDaily = 0;
                                jDaily = 0;
                                dailyLength = {{PrintersDailyPositive.length}};
                            }


                        }

                        iDaily = 0;
                        if(yDaily === daily.length){

                            yDaily = 0;
                            jDaily = 0;
                            activateTab('weekly');
                            intervalWeekly();
                            clearInterval(dailyInterval);

                        }

                    }

                    dailyChart.options.title.text = 'Chart for: ' + $($("#daily_printers tr")[iDaily]).find('td:eq(1)').text();


                    updateChart(dailyChart, dailyAvg, daily, yDaily);

                    $($("#daily_printers tr")[iDaily]).addClass('trBg');

                    yDaily++;
                    iDaily++;
                    jDaily++;
                }, 2500)

            }

            function intervalWeekly() {

                weeklyInterval = setInterval(function () {
                    clickable = true;
                    if(yWeekly === weekly.length){
                        stopLoop = 1;

                    }

                    if(stopLoop == 0) {

                        $($("#weekly_printers tr")[iWeekly - 1]).removeClass('trBg');
                    }

                    if(jWeekly === weeklyLength){
                        if(countWeekly === 0){
                            if(({{PrintersWeeklyNegative.length}}) > 0 && stopLoop == 0)
                            {
                                $('#weekly_printers tr').remove();
                                {{#each PrintersWeeklyNegative}}
                                    $('#weekly_printers').append(
                                            '<tr><td>{{hostId}}</td><td>{{locationId}}</td><td>{{printerId}}</td><td>{{growth}}</td><td>{{avg}}</td></tr>');
                                {{/each}}
                                $('#weekly_thead').css('background-color', '#e21f0f');
                                jWeekly = 0;
                                countWeekly = 1;
                                weeklyLength = {{PrintersWeeklyNegative.length}};
                            }
                        } else {

                            if(({{PrintersWeeklyPositive.length}}) > 0 && stopLoop == 0) {
                                $('#weekly_printers tr').remove();

                                {{#each PrintersWeeklyPositive}}
                                    $('#weekly_printers').append(
                                            '<tr><td>{{hostId}}</td><td>{{locationId}}</td><td>{{printerId}}</td><td>{{growth}}</td><td>{{avg}}</td></tr>');
                                {{/each}}
                                $('#weekly_thead').css('background-color', '#11cc1e');

                                jWeekly = 0;
                                countWeekly = 0;
                                weeklyLength = {{PrintersWeeklyPositive.length}};
                            }

                        }

                        iWeekly = 0;
                        if(yWeekly === weekly.length){
                            yWeekly = 0;
                            jWeekly = 0;
                            clearInterval(weeklyInterval);
                            location.reload();
                        }

                    }

                    if(stopLoop == 0) {
                        weeklyChart.options.title.text = 'Chart for: ' + $($("#weekly_printers tr")[iWeekly]).find('td:eq(1)').text();

                        updateChart(weeklyChart, weeklyAvg, weekly, yWeekly);

                        $($("#weekly_printers tr")[iWeekly]).addClass('trBg');

                        yWeekly++;
                        iWeekly++;
                        jWeekly++;
                    }

                }, 2500)


            }





            var handleHourly;
            $('#hourly_printers').on('click', 'tr', function () {
                // $($("#hourly_printers tr")[jHourly]).removeClass('trBg');

                if(clickable == true) {
                    $('#hourly_printers tr').each(function () {
                        if ($(this).hasClass('trBg')) {
                            $(this).removeClass('trBg');
                        }
                    });

                    if ($('#hourly_printers tr').index(this) >= jHourly) {
                        yHourly += $('#hourly_printers tr').index(this) - jHourly;

                    } else {
                        yHourly -= jHourly;
                        yHourly += $('#hourly_printers tr').index(this);

                    }
                    iHourly = $('#hourly_printers tr').index(this);
                    jHourly = $('#hourly_printers tr').index(this);
                    var i = $('#hourly_printers tr').index(this);


                    $($("#hourly_printers tr")[i]).addClass('trBg');
                    hourlyChart.options.title.text = 'Chart for: ' + $($("#hourly_printers tr")[i]).find('td:eq(1)').text();
                    updateChart(hourlyChart, hourlyAvg, hourly, yHourly);

                    hourlyChart.update();

                    clearInterval(hourlyInterval);
                    clearTimeout(handleHourly);

                    handleHourly = setTimeout(function () {
                        intervalHourly();
                    }, 5000);
                }

            });


            var handleDaily;
            $('#daily_printers').on('click', 'tr', function () {
                // $($("#hourly_printers tr")[jHourly]).removeClass('trBg');


                if(clickable == true) {
                    $('#daily_printers tr').each(function () {
                        if ($(this).hasClass('trBg')) {
                            $(this).removeClass('trBg');
                        }
                    });

                    if ($('#daily_printers tr').index(this) >= jDaily) {
                        yDaily += $('#daily_printers tr').index(this) - jDaily;
                    } else {
                        yDaily -= jDaily;
                        yDaily += $('#daily_printers tr').index(this);

                    }
                    iDaily = $('#daily_printers tr').index(this);
                    jDaily = $('#daily_printers tr').index(this);
                    var i = $('#daily_printers tr').index(this);


                    $($("#daily_printers tr")[i]).addClass('trBg');
                    dailyChart.options.title.text = 'Chart for: ' + $($("#daily_printers tr")[i]).find('td:eq(1)').text();
                    updateChart(dailyChart, dailyAvg, daily, yDaily);

                    dailyChart.update();

                    clearInterval(dailyInterval);
                    clearTimeout(handleDaily);

                    handleDaily = setTimeout(function () {
                        intervalDaily();
                    }, 5000);
                }

            });


            var handleWeekly;
            $('#weekly_printers').on('click', 'tr', function () {
                // $($("#hourly_printers tr")[jHourly]).removeClass('trBg');

                if(clickable == true) {
                    $('#weekly_printers tr').each(function () {
                        if ($(this).hasClass('trBg')) {
                            $(this).removeClass('trBg');
                        }
                    });

                    if ($('#weekly_printers tr').index(this) >= jWeekly) {
                        yWeekly += $('#weekly_printers tr').index(this) - jWeekly;
                    } else {
                        yWeekly -= jWeekly;
                        yWeekly += $('#weekly_printers tr').index(this);

                    }
                    iWeekly = $('#weekly_printers tr').index(this);
                    jWeekly = $('#weekly_printers tr').index(this);
                    var i = $('#weekly_printers tr').index(this);


                    $($("#weekly_printers tr")[i]).addClass('trBg');
                    weeklyChart.options.title.text = 'Chart for: ' + $($("#weekly_printers tr")[i]).find('td:eq(1)').text();
                    updateChart(weeklyChart, weeklyAvg, weekly, yWeekly);

                    weeklyChart.update();

                    clearInterval(weeklyInterval);
                    clearTimeout(handleWeekly);

                    handleWeekly = setTimeout(function () {
                        intervalWeekly();
                    }, 5000);
                }

            });



            $("#swapHourly").click(function () {

                clickable = false;

                if( parseInt($($("#hourly_printers tr")[0]).find('td:eq(3)').text()) > 0){
                    if(({{PrintersHourlyNegative.length}}) != 0) {
                        clearInterval(hourlyInterval);
                        jHourly = hourlyLength;
                        yHourly = 0;
                        iHourly = 1;
                        intervalHourly();

                    }

                }else if(parseInt($($("#hourly_printers tr")[0]).find('td:eq(3)').text()) < 0) {
                    if (({{PrintersHourlyPositive.length}}) != 0) {
                        clearInterval(hourlyInterval);
                        yHourly = 0;
                        iHourly = 1;
                        jHourly = hourlyLength;
                        intervalHourly();
                    }
                }
            });

            $('#swapDaily').click(function () {

                clickable = false;
                if( parseInt($($("#daily_printers tr")[0]).find('td:eq(3)').text()) > 0){
                    if(({{PrintersDailyNegative.length}}) != 0){
                        clearInterval(dailyInterval);
                        jDaily = dailyLength;
                        yDaily = 0;
                        iDaily = 0;
                        intervalDaily();
                    }

                }else if(parseInt($($("#daily_printers tr")[0]).find('td:eq(3)').text()) < 0) {
                    if (({{PrintersDailyPositive.length}}) != 0) {
                        clearInterval(dailyInterval);
                        jDaily = dailyLength;
                        yDaily = 0;
                        iDaily = 0;

                        intervalDaily();
                    }
                }
            });


            $('#swapWeekly').click(function () {

                clickable = false;

                if(parseInt($($("#weekly_printers tr")[0]).find('td:eq(3)').text()) > 0){
                    if(({{PrintersWeeklyNegative.length}}) != 0){

                        clearInterval(weeklyInterval);
                        jWeekly = weeklyLength;
                        yWeekly = 0;

                        intervalWeekly();

                    }

                }else if(parseInt($($("#weekly_printers tr")[0]).find('td:eq(3)').text()) < 0) {
                    if (({{PrintersWeeklyPositive.length}}) != 0) {
                        clearInterval(weeklyInterval);
                        jWeekly = weeklyLength;
                        yWeekly = 0;

                        intervalWeekly();
                    }
                }
            });


        });

    </script>


</head>

<body>

<div class="container col-md-11">

    <div id="row col-md-2 offset-md-5">
        <div id="logo"><img src="./images/princh_logo.png"> </div>
    </div>




    <div id="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#hourly">Hourly</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#daily">Daily</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#weekly">Weekly</a></li>
        </ul>
    </div>



    <div class="tab-content">

        <div class="tab-pane active" id="hourly" role="tabpanel">
            <input type="button" value="Swap" id="swapHourly" class="button"/>
            <div id="chart" style="float: left; width: 60%; height: 31em;">
                <canvas id="canvas3"></canvas>
            </div>
            <div id="info_table_hourly" style="float: right; width: 35%;">

                <table class="table">
                    <thead id="hourly_thead">
                    <tr>
                        <th>HostID</th>
                        <th>LocationID</th>
                        <th>Printer</th>
                        <th>%Growth</th>
                    </tr>
                    </thead>
                    <tbody id="hourly_printers">

                    <!--
                     here we use a each to through our array and create the correct data in the table.
                    -->
                    {{#if PrintersHourlyPositive}}
                        {{#each PrintersHourlyPositive}}
                            <tr>
                                <td>{{hostId}}</td>
                                <td>{{locationId}}</td>
                                <td>{{printerId}}</td>
                                <td>{{avg}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        {{#each PrintersHourlyNegative}}
                            <tr>
                                <td>{{hostId}}</td>
                                <td>{{locationId}}</td>
                                <td>{{printerId}}</td>
                                <td>{{avg}}</td>
                            </tr>
                        {{/each}}
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane" id="daily" role="tabpanel">
            <input type="button" value="Swap" id="swapDaily" class="button"/>
            <div class="tab-pane" id="daily" role="tabpanel">
                <div class="chart" style="float: left; width: 60%; height: 31em; margin-bottom: 2em">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>

            <div id="info_table_daily" style="float: right; width: 35%;">
                <table class="table">
                    <thead id="daily_thead">
                    <tr>
                        <th>HostID</th>
                        <th>LocationID</th>
                        <th>Printer</th>
                        <th>Growth</th>
                        <th>Average</th>
                    </tr>
                    </thead>
                    <tbody id="daily_printers">
                    <!--
                     here we use a each to through our array and create the correct data in the table.
                    -->

                    {{#if PrintersDailyPositive}}
                        {{#each PrintersDailyPositive}}
                            <tr>
                                <td>{{hostId}}</td>
                                <td>{{locationId}}</td>
                                <td>{{printerId}}</td>
                                <td>{{growth}}</td>
                                <td>{{avg}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        {{#each PrintersDailyNegative}}
                            <tr>
                                <td>{{hostId}}</td>
                                <td>{{locationId}}</td>
                                <td>{{printerId}}</td>
                                <td>{{growth}}</td>
                                <td>{{avg}}</td>
                            </tr>
                        {{/each}}
                    {{/if}}


                    </tbody>
                </table>
            </div>

        </div>

        <div class="tab-pane" id="weekly" role="tabpanel">

            <input type="button" value="Swap" id="swapWeekly" class="button"/>
            <div class="chart" style="float: left; width: 60%; height: 31em;">
                <canvas id="canvas"></canvas>
            </div>


            <div id="info_table_weekly" style="float: right; width: 35%;">
                <table class="table">
                    <thead id="weekly_thead">
                    <tr>
                        <th>HostID</th>
                        <th>LocationID</th>
                        <th>Printer</th>
                        <th>Growth</th>
                        <th>Average</th>
                    </tr>
                    </thead>
                    <tbody id="weekly_printers">

                    <!--
                     here we use a each to through our array and create the correct data in the table.
                    -->

                    {{#if PrintersWeeklyPositive}}
                        {{#each PrintersWeeklyPositive}}
                            <tr>
                                <td>{{hostId}}</td>
                                <td>{{locationId}}</td>
                                <td>{{printerId}}</td>
                                <td>{{growth}}</td>
                                <td>{{avg}}</td>
                            </tr>
                        {{/each}}
                    {{else}}
                        {{#each PrintersWeeklyNegative}}
                            <tr>
                                <td>{{hostId}}</td>
                                <td>{{locationId}}</td>
                                <td>{{printerId}}</td>
                                <td>{{growth}}</td>
                                <td>{{avg}}</td>
                            </tr>
                        {{/each}}
                    {{/if}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

