
/* GLOBAL */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}


.tab-pane {

// padding: 0 1em 1em 1em;
}

/* logo */

#logo {
  text-align: right;
}
#logo img{
  height: 3.5em
}


/* INDEX.hbs */

#wrapper {

}

/* buttons */

.princh_btn {
  background:rgb(0,158,212);
  color: white;
  width: 20em;
  height: 3.5em;
  text-transform: uppercase!important;

}

.princh_btn:hover {
  background:rgb(67,175,211);
  color:white;
}

/* DAILY.hbs */
.tab-pane {

}

#wrapper-daily{
//margin:0 auto;
}

/* table */

thead {
// display: block;
//background: #11cc1e;
}

table {
//display: block;
  font-size: 0.5em;

}

td{
  padding-bottom: 0.62em!important;
  padding-top: 0.62em!important;
}


.trBg{
  background: #07BBD2;
}

.button {
  float: right;
  height: 2.4em;
  border:1px solid rgb(233, 236, 239);
  cursor:pointer; outline:0;
}

.button:active {
  background-color: #7c7c7c;
}


